.proxima {
	
	font-family: "proxima-nova", helvetica, arial, verdana, sans-serif;
	font-weight: 300;

}

.futura {
	
	font-family: "futura-pt", helvetica, arial, verdana, sans-serif;
	font-weight: bold;
	text-transform: uppercase;

}

.caslon {

	font-family: "adobe-caslon-pro", georgia, serif;
	font-weight: 600;

}