.meta {
	
	font-family: "ff-meta-serif-web-pro", georgia, serif;
	font-weight: normal;

}

.futura {
	
	font-family: "futura-pt", helvetica, arial, verdana, sans-serif;
	font-weight: bold;
	text-transform: uppercase;

}

.caslon {

	font-family: "adobe-caslon-pro", georgia, serif;
	font-weight: 600;

}