@import 'normalize.less';
@import 'mixins.less';
@import 'fonts.less';
@import 'animate.less';

@font-size: 14;
@color: #222;

html,
button,
input,
select,
textarea {
    color: @color;
}

html {
    font-size: 62.5%;
}

body {
    .meta;
    .font-size (@font-size);
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Author: Saul Hardman (@saulhardman) */

/* Typography */

h1, h2 {

    .futura;

}

a {

    color: #fff;
    text-decoration: none;

    &:hover {

        text-decoration: underline;

    }

}

/* Layout */

body {

    background-color: #eee;

}

.container {

    .clearfix;
    margin: 0 auto;
    width: 1200px;

}

.content {

    width: 600px;

}

.header {

    height: 400px;
    .full-background ('../img/backgrounds/processed/degree-show-1.jpg');

}

.logo {

    float: left;

}

nav {

    float: right;

    ul {

        .clearfix;
        margin: 0;
        padding: 0;
        list-style: none;

    }

    li {

        float: left;
        margin: 0 0 0 20px;
            
    }

    a {

        display: block;
        padding: 4px 8px;
        .border-radius (8px);

        &:focus,
        &.active {

            color: @color;
            background-color: #fff;

        }

    }

}

@import 'media-queries.less';