@import 'normalize.less';
@import 'mixins.less';
@import 'fonts.less';
@import 'animate.less';

@font-size:         16;

@color:             rgba(34, 34, 34, 1.0);
@link-color:        rgba(153, 153, 153, 1.0);
@tint-color:        rgba(22, 26, 54, 0.7);
@text-shadow:       rgba(204, 204, 204, 1.0);
@highlight-color:   rgba(240, 80, 60, 1.0);
@light-gray:        lighten(@color, 50%);

@text-select-dark:  @highlight-color;
@text-select-light: @color;

@light-blue:        rgba(11, 44, 60, 1.0);

@black:             rgba(0, 0, 0, 1.0);
@white:             rgba(255, 255, 255, 1.0);

* {

    .box-sizing (border-box);

}

html,
button,
input,
select,
textarea {

    .proxima;
    color: @color;
    text-rendering: optimizeLegibility;

}

html {

    font-size: 62.5%;

}

body {

    .font-size (@font-size);
    .line-height (28);

}

::-moz-selection {

    color: #fff;
    background: @text-select-dark;
    text-shadow: none;

}

::selection {

    color: #fff;
    background: @text-select-dark;
    text-shadow: none;

}

.chromeframe {

    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;

}

/* Author: Saul Hardman (@saulhardman) and that other guy (@benashman) */

/* Typography */

h1, h2 {

    .futura;

}

a {

    color: @link-color;
    text-decoration: none;

    &:hover {

        text-decoration: underline;

    }

}

.underline {

    text-decoration: underline;

}

/* Layout */

body {

    min-width: 848px;
    background-color: #eee;

}

.container {

    .clearfix;
    margin: 0 auto;
    padding: 0 60px;
    *width: 1200px;
    max-width: 1080px;

}

.apply {

    display: block;
    position: fixed;
    top: 40px;
    right: 40px;
    margin: 0;
    padding: 10px 25px;
    .futura;
    color: @white;
    background: @light-gray;

    &:hover,
    &:focus {

        text-decoration: none;
        background: @highlight-color;
        outline: none;

    }

}

.main-header {

    text-align: center;
    height: 400px;
    .full-background ('../img/backgrounds/processed/degree-show-1.jpg');

    /*
    
    &:before {

        z-index: 0;
        content: "";
        position: absolute;
        height: 600px;
        width: 600px;
        border: 1px dashed rgba(255,255,255, .2);
        .border-radius (300px);
        top: 20px;
        left: 420px;

    }

     */

}

.tint {
    
    height: 100%;
    width: 100%;
    background-color: @tint-color;

}

.logo {

    margin: 140px 0 0;
    color: @white;

    .title {

        margin: 0;
        .font-size (50);
        .line-height (72);

        a {

            color: @white;

            &:hover {

                color: @white;
                text-decoration: none;

            }

        }

    }

}

nav {

    margin: 10px 0 0;
    .font-size (14);

    ul {

        padding: 0;
        list-style: none;

    }

    li {

        display: inline;
        margin: 0 0 0 15px;

        &:first-of-type {

            margin: 0;

        }
            
    }

    a {

        padding: 6px 10px;
        .proxima;
        text-transform: uppercase;
        color: @highlight-color;
        letter-spacing: 1px;
        font-weight: 800;
        text-shadow: 0 0 2px rgba(20, 20, 20, .1);

        &:hover,
        &:focus,
        &.active {

            color: @color;
            background: @white;
            outline: none;
            text-decoration: none;

        }

    }

}

#main {

    margin: 0 auto 80px;

    ::-moz-selection {

        color: #fff;
        background: @text-select-light;
        text-shadow: none;

    }

    ::selection {

        color: #fff;
        background: @text-select-light;
        text-shadow: none;

    }

    .header {

        margin: 0;
        text-align: center;

    }

    .title,
    .description {

        margin: 0 auto 60px;

    }

    .title {

        display: inline-block;
        margin: -40px auto 60px;
        padding: 30px;
        text-align: center;
        .font-size (38);
        .line-height (22);
        color: @white;
        background-color: @highlight-color;

    }

    .description {

        margin: 0 auto 60px;
        width: 760px;
        .caslon;
        font-weight: 500;
        .font-size (32);
        .line-height (48);
        text-align: center;
        text-transform: none;

    }

    .content {

        .columns (3, 40px);

        p {

            margin: 0;

            strong {

                font-weight: 600;

            }

        }

        // .mantra {

        //     .futura;
        //     .font-size (14);
        //     color: @highlight-color;

        // }

    }

    .images {

        margin: 60px 0 -80px;

        img {

            width: 100%/3;
            height: auto;

        }

    }

    .programming {

        .content {

            .columns (0);

            p:first-child,
            ul {

                float: left;

            }

            p:first-child {

                margin: 0;
                width: ~`100/3+'%'`;
                padding: 0 20px 0 0;

            }

            p {

                margin: 40px 0 0;

            }

            ul {

                margin: 0;
                padding: 0 30px 0 30px;
                width: ~`100/3+'%'`;
                list-style: none;

                li {

                    position: relative;

                    &:before {

                        content: "";
                        display: block;
                        position: absolute;
                        left: -20px;
                        top: 9px;
                        width: 10px;
                        height: 10px;
                        background-color: @highlight-color;

                    }

                }

                &:last-of-type {

                    padding-right: 0;

                }

            }

        }

    }

}

footer {

    .clearfix;
    padding: 60px 0;
    color: @white;
    background-color: @color;

}

#newsletter {

    .email,
    .submit {

        float: left;
        margin: 0;
        height: 40px;

    }

    .email {

        padding: 5px 15px;
        width: 230px;
        border: 1px solid @white;

        &:focus {

            border: 1px solid @highlight-color;
            outline: none;

        }

    }

    .submit {

        padding: 10px 25px;
        color: @white;
        background: @light-gray;
        border: 0;

        &:hover,
        &:focus {

            background: @highlight-color;
            outline: none;

        }

    }

}

.links {

    float: right;
    margin: 0;
    padding: 0;
    list-style: none;

    li {

        float: left;

    }

    a {

        .ir;
        display: block;
        margin: 0 0 0 10px;
        width: 40px;
        height: 40px;
        background: @light-gray;

    }

}

@import 'media-queries.less';